@layer base {
    :root {
        /* Light Theme Primary Colors */
        --color-primary-100: #d1c9fe;
        --color-primary-200: #b3a7fd;
        --color-primary-300: #9585fc;
        --color-primary-400: #7663fa;
        --color-primary-500: #5841f9;
        --color-primary-600: #3a1ff7;

        /* Light Theme Surface Colors */
        --color-surface-100: #ffffff;
        --color-surface-200: #f5f5f5;
        --color-surface-300: #e0e0e0;
        --color-surface-400: #cccccc;
        --color-surface-500: #b8b8b8;
        --color-surface-600: #a3a3a3;

        /* Light Theme Mixed Surface Colors */
        --color-surface-mixed-100: #f7f6fa;
        --color-surface-mixed-200: #e9e7f0;
        --color-surface-mixed-300: #dbd8e6;
        --color-surface-mixed-400: #cdc9dc;
        --color-surface-mixed-500: #bfbad2;
        --color-surface-mixed-600: #b1abc8;
    }

    .dark {
        /* Dark Theme Primary Colors */
        --color-primary-100: #382bf0;
        --color-primary-200: #5e43f3;
        --color-primary-300: #7a5af5;
        --color-primary-400: #9171f8;
        --color-primary-500: #a688fa;
        --color-primary-600: #ba9ffb;

        /* Dark Theme Surface Colors */
        --color-surface-100: #121212;
        --color-surface-200: #282828;
        --color-surface-300: #3f3f3f;
        --color-surface-400: #575757;
        --color-surface-500: #717171;
        --color-surface-600: #8b8b8b;

        /* Dark Theme Mixed Surface Colors */
        --color-surface-mixed-100: #1a1625;
        --color-surface-mixed-200: #2f2b3a;
        --color-surface-mixed-300: #46424f;
        --color-surface-mixed-400: #5e5a66;
        --color-surface-mixed-500: #76737e;
        --color-surface-mixed-600: #908d96;
    }
}