:root {
    --neutral-50: 0 0% 98%;
    --neutral-100: 0 0% 96%;
    --neutral-200: 0 0% 90%;
    --neutral-300: 0 0% 83%;
    --neutral-400: 0 0% 64%;
    --neutral-500: 0 0% 45%;
    --neutral-600: 0 0% 32%;
    --neutral-700: 0 0% 25%;
    --neutral-800: 0 0% 15%;
    --neutral-900: 0 0% 9%;
    --neutral-950: 0 0% 4%;
  
    --purple-50: 270 100% 98%;
    --purple-100: 268 100% 95%;
    --purple-200: 268 100% 91%;
    --purple-300: 269 100% 85%;
    --purple-400: 270 100% 75%;
    --purple-500: 271 100% 65%;
    --purple-600: 271 100% 55%;
    --purple-700: 272 100% 45%;
    --purple-800: 273 100% 36%;
    --purple-900: 274 100% 30%;
    --purple-950: 275 100% 20%;
  
    --emerald-500: 160 84% 39%;
    --emerald-400: 158 64% 52%;
  
    --amber-500: 38 92% 50%;
    --amber-400: 43 96% 56%;
  
    --red-500: 0 84% 60%;
    --red-400: 0 91% 71%;
  }