/* Theme */
@layer base {
    :root {
      --background: var(--neutral-50);
      --foreground: var(--neutral-950);
      --border: var(--neutral-200);
  
      /* Primary */
      --primary: var(--neutral-900);
      --primary-accent: var(--neutral-800);
      --primary-foreground: var(--neutral-50);
  
      /* Secondary */
      --secondary: var(--neutral-200);
      --secondary-accent: var(--neutral-100);
      --secondary-foreground: var(--neutral-950);
  
      /* Error */
      --error: var(--amber-500);
      --error-accent: var(--amber-400);
      --error-foreground: var(--amber-50);
  
      /* Warning */
      --warning: var(--amber-500);
      --warning-accent: var(--amber-400);
      --warning-foreground: var(--amber-50);
  
      /* Accent (Purple) */
      --accent: var(--purple-500);
      --accent-accent: var(--purple-400);
      --accent-foreground: var(--purple-50);
  
      /* Success */
      --success: var(--emerald-500);
      --success-accent: var(--emerald-400);
      --success-foreground: var(--emerald-50);
    }
  
    .dark {
      --background: var(--neutral-950);
      --foreground: var(--neutral-50);
      --border: var(--neutral-800);
  
      /* Primary */
      --primary: var(--neutral-100);
      --primary-accent: var(--neutral-200);
      --primary-foreground: var(--neutral-950);
  
      /* Secondary */
      --secondary: var(--neutral-800);
      --secondary-accent: var(--neutral-900);
      --secondary-foreground: var(--neutral-50);
  
      /* Error */
      --error: var(--amber-700);
      --error-accent: var(--amber-800);
      --error-foreground: var(--amber-50);
  
      /* Warning */
      --warning: var(--amber-700);
      --warning-accent: var(--amber-800);
      --warning-foreground: var(--amber-50);
  
      /* Accent (Purple) */
      --accent: var(--purple-700);
      --accent-accent: var(--purple-800);
      --accent-foreground: var(--purple-50);
  
      /* Success */
      --success: var(--emerald-700);
      --success-accent: var(--emerald-800);
      --success-foreground: var(--emerald-50);
    }
  }