@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0, 0%, 50%;
    --secondary-foreground: 0 0% 94%;
    --tertiary: 0 0% 20%;
    --tertiary-foreground: 0 0% 94%;
    --muted-foreground: 0 0% 45%;
    --accent: 270 50% 60%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 89%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --love-btn: 329, 86%, 70%;
    --check-btn: 213, 94%, 68%;
    --create-btn: 158, 64%, 52%;
    --accent-muted: 270 50% 75%;
    --node-card-background: 0 0% 98%;
    --node-hr: 270 50% 60%;
    --floating-button: 0 0% 93%;
    --floating-button-muted: 0 0% 85%;
  }

  .dark {
    --background: 0 0% 9%;
    --foreground: 0 0% 94%;
    --card: 240 1% 9%;
    --card-foreground: 0 0% 94%;
    --popover: 240 1% 9%;
    --popover-foreground: 0 0% 94%;
    --primary: 0 0% 94%;
    --primary-foreground: 0 0% 20%;
    --secondary: 0, 0%, 88%;
    --secondary-foreground: 0 0% 94%;
    --tertiary: 0 0% 20%;
    --tertiary-foreground: 0 0% 94%;
    --muted: 0 0% 20%;
    --muted-foreground: 0 0% 63%;
    --accent: 73 95% 62%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 94%;
    --border: 0 0% 20%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --accent-muted: 65 100% 71%;
    --node-card-background: 240 1% 10%;
    --node-hr: 73 95% 62%;
    --floating-button: 240 1% 16%;
    --floating-button-muted: 240 5% 26%;
    --check-btn: 213 94% 68%;
    --love-btn: 329 86% 70%;
    --create-btn: 158 64% 52%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  h1 {
    @apply text-4xl font-bold tracking-tight text-accent;
  }

  p {
    @apply mt-6 text-lg leading-8
  }
}