@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Light theme colors */
    --background: #ffffff;
    --foreground: #000000;
    --color-primary-100: #d1c9fe;
    --color-primary-200: #b3a7fd;
    --color-primary-300: #9585fc;
    --color-primary-400: #7663fa;
    --color-primary-500: #5841f9;
    --color-primary-600: #3a1ff7;
    --color-surface-100: #ffffff;
    --color-surface-200: #f5f5f5;
    --color-surface-300: #e0e0e0;
    --color-surface-400: #cccccc;
    --color-surface-500: #b8b8b8;
    --color-surface-600: #a3a3a3;
    --color-surface-mixed-100: #f7f6fa;
    --color-surface-mixed-200: #e9e7f0;
    --color-surface-mixed-300: #dbd8e6;
    --color-surface-mixed-400: #cdc9dc;
    --color-surface-mixed-500: #bfbad2;
    --color-surface-mixed-600: #b1abc8;
    
    /* Other variables */
    --card: var(--color-surface-200);
    --card-foreground: #1c1917;
    --popover: #ffffff;
    --popover-foreground: #1c1917;
    --primary: #1c1917;
    --primary-foreground: #fafaf9;
    --secondary: #f1f5f9;
    --secondary-foreground: #1c1917;
    --muted: #f1f5f9;
    --muted-foreground: #64748b;
    --accent: #f1f5f9;
    --accent-foreground: #1c1917;
    --destructive: #ef4444;
    --destructive-foreground: #fafaf9;
    --border: #e2e8f0;
    --input: #e2e8f0;
    --ring: #1c1917;
    --radius: 0.5rem;
  }

  .dark {
    /* Dark theme colors */
    --background: #121212;
    --foreground: #ffffff;
    --color-primary-100: #382bf0;
    --color-primary-200: #5e43f3;
    --color-primary-300: #7a5af5;
    --color-primary-400: #9171f8;
    --color-primary-500: #a688fa;
    --color-primary-600: #ba9ffb;
    --color-surface-100: #121212;
    --color-surface-200: #282828;
    --color-surface-300: #3f3f3f;
    --color-surface-400: #575757;
    --color-surface-500: #717171;
    --color-surface-600: #8b8b8b;
    --color-surface-mixed-100: #1a1625;
    --color-surface-mixed-200: #2f2b3a;
    --color-surface-mixed-300: #46424f;
    --color-surface-mixed-400: #5e5a66;
    --color-surface-mixed-500: #76737e;
    --color-surface-mixed-600: #908d96;
    
    /* Other variables */
    --card: var(--color-surface-200);
    --card-foreground: #fafaf9;
    --popover: #1c1917;
    --popover-foreground: #fafaf9;
    --primary: #fafaf9;
    --primary-foreground: #1c1917;
    --secondary: #27272a;
    --secondary-foreground: #fafaf9;
    --muted: #27272a;
    --muted-foreground: #a1a1aa;
    --accent: #27272a;
    --accent-foreground: #fafaf9;
    --destructive: #7f1d1d;
    --destructive-foreground: #fafaf9;
    --border: #27272a;
    --input: #27272a;
    --ring: #d4d4d8;
  }
}

body {
  letter-spacing: -0.5px;
  font-weight: 400
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}